<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ATest</title>
    <script type="text/javascript" src=".js/angular-1.0.2.js"></script>
    <script type="text/javascript">
     var HelloController=function($scope){
     $scope.name="hugh";
     $scope.getName=function(){
     return $scope.name;
     }
     }
     var WorldCtrl=function($scope){
        $scope.population=7000;
        $scope.countries=[
        {name:'china',population:68},
        {name:'japan',population:58}
        ];
     }



    </script>
</head>
<body ng-app>
<div ng-controller="HelloController">
    Say Hello To<input type="text" ng-model="name"><br>
    Hello {{getName()}}!
    <p> 1+128={{1+128}}</p>

    <ul ng-controller="WorldCtrl">
        <li ng-repeat="country in countries">
            {{country.name}} 's population is{{country.population}}
        </li>
    </ul>
    <a href="login.html">登录</a> <a href="http://www.json.org.cn/tools/JSONEditorOnline/index.htm">Json在线编辑</a>

</div>
</body>
</html>